@{
    ViewBag.Title = "About";
}



 <img src ="/Content/Simonedownload.jpg" />
<p>Simone is a native New Yorker that moved to Denver over four years ago.
     She is a Junior at the University of Denver Colorado Women's College with a major in Law and Society
    and a minor in Business. Simone has earned a Certificate in Community Based Research(Honors Program).From
    her research in this program, Simone will be honored by the Hispanic National Bar Association this September
    2014 at their National Convention. The research was finding the First 100 Latina Attorneys in America. Simone will also be meeting with
    Supreme Court Justice Sonia Sotomayor.Simone took a social justice class that enabled her to travel to Cape Town South Africa in 2012. 
    In 2013-2014 term she was a co-hort in the General Electric/Leadership Delta Program. Currently enrolled in the 
    SeedPaths program which is an 8 week bootcamp for entry level web developers. Simone hopes to acertain a position 
    that will utilize her knowledge from all of her educational experiences as her work experiences.
</p>
<script>
    //Javascript here!
    alert('hello');
</script>
