@{
    ViewBag.Title = "Simone";
}

<h2>Hello World</h2>

<div>
    <span>Hi, My name is Simone </span>
</div>

<div class= "cats">
    I like cats.

</div>
<div class="dogs">
    Dogs are too cool.
</div>